<h1>Products</h1>

<%= link_to "Add a New Product", new_product_path %>
<%= link_to "New User Sign Up", new_user_url %>
<%= link_to "Log In", new_session_url %>

<ol>
<% @products.each do |product| %>
  <li> <%= link_to product[:name], "/products/#{product.id}" %></li>
  $<%= product.formatted_price %> 
<% end %>
</ol>