<div class="button"><%= link_to "< Back to Products", products_url %> <%= link_to "Edit Products", edit_product_url(@product) %> <%= link_to "Delete Product", @product, :confirm => "Are you sure you want to delete this product?", :method => :delete%></div>


<h1><%= @product[:name].upcase %></h1>
<p>Description: <%= @product[:description] %></p>
<p>Price: $<%= @product.formatted_price %></p>

  <h3>Reviews</h3>

  <p>Reviews for <%= @product.name %></p>

  <p><%= render 'review' %></p>

  <h3>Images</h3>

  <p>Images for <%= @product.name %></p>

  <p><%= render 'image' %></p>

<% if current_user %>

  <h4> New Review </h4>

  <p><%= render 'newreview' %></p>

  <h4> New Image </h4>

  <p><%= render 'newimage' %></p>

  <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add an image or review </p>    
<% end %>
